    
<script type="text/ng-template" id="bNgLightBox.html">
    <div class="box-wrapper" >
        <div class="box-button" >
            <button type="button" ng-class="buttonClass" ng-click="ngLightBoxFunction(funcOptions.open)">{{ valOpen }}</button>
        </div>
        <div class="box-content-wrapper" ng-show="openContent" >
            <div class="box-content"  >
                <div class="box-buttons" >
                    <button type="button" ng-class="buttonClass" ng-click="ngLightBoxFunction(funcOptions.save)">{{ valSave }}</button>
                    <button type="button" ng-class="buttonClass" ng-click="ngLightBoxFunction(funcOptions.close)">{{ valClose }}</button>
                </div>
                <div class="box-content-transclude"  ng-transclude >
                </div>
            </div>
        </div>
    </div>
</script>

<style>
    .box-content-wrapper { position: fixed; background-color: rgba(0,0,0,.5); overflow:auto; top:0; right:0;}
    .box-content { background-color:white; overflow:auto; margin: 1%; padding: 1%;  border-radius: 15px;}
    .box-buttons {padding: 0 0 15px 0;}
    .box-buttons button {float: none;}
</style>    

    
